.container {
  padding: 20px;
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
}

.cardsList > div {
  margin: 10px;
}

.notFound {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.header {
  margin-top: 50px;
  font-size: 28px;
}
