.modal {
  position: absolute;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 541px;
  max-height: 90vh;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  border-radius: 24px;
  padding: 16px;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 40px;
  }
}

.icon {
  fill: var(--primary-color);
  cursor: pointer;
  top: 8px;
  right: 8px;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .icon {
    top: 16px;
    right: 16px;
  }
}

.thumb {
  height: 225px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .thumb {
    height: 248px;
  }
}

.icon.active {
  fill: var(--accent);
  stroke: var(--accent);
  stroke-opacity: 1;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title,
.price {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.33;
  font-family: var(--font-family);
  color: #121417;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #121417;
}

.accent {
  color: #3470ff;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 14px;
}

.list li:not(:last-child) {
  border-right: 1px solid rgba(18, 20, 23, 0.1);
  padding-right: 6px;
}

.accessories_list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 14px;
}

.accessories_list li:not(:last-child) {
  border-right: 1px solid rgba(18, 20, 23, 0.1);
  padding-right: 6px;
}

@media only screen and (min-width: 768px) {
  .accessories_list {
    width: 343px;
  }
}

.item {
  position: relative;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #121417;
  margin: 0px;
}

.sub_heading {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #121417;
  margin-bottom: 14px;
}

.conditions_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .conditions_list {
    width: 388px;
  }
}

.conditions_item {
  border-radius: 35px;
  padding: 7px 14px;
  height: 32px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #363535;
}

.tag_accent {
  font-weight: 600;
  color: #3470ff;
}

.button {
  cursor: pointer;
  outline: none;
  border-radius: 12px;
  padding: 12px 50px;
  width: 100%;
  max-width: 168px;
  height: 44px;
  background: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #fff;
}


img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
