.filtersContainer {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 50px;
}

.searchButton {
  border-radius: 12px;
  padding: 14px 44px;
  width: 136px;
  height: 48px;
  border: none;

  align-self: flex-end;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  background: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.searchButton:hover {
  background: #0b44cd;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
select {
  border-radius: 14px;
  border: none;
  background-color: #f7f7fb;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
}

.selectPrice {
  border-radius: 14px;
  padding: 14px 18px;
  width: 125px;
  height: 48px;
}

.selectBrand {
  border-radius: 14px;
  width: 224px;
  height: 48px;
  padding: 14px 18px;
}

.inputs {
  display: flex;
  border-radius: 14px 0 0 14px;
  height: 48px;
}

.inputFrom {
  border-radius: 14px 0px 0px 14px;
  border-right: 1px solid #8a8a89;
  padding: 0px 24px;
  width: 160px;
}

.inputTo {
  border-radius: 0px 14px 14px 0px;
  padding: 0px 24px;
    width: 160px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
